project_id = "linknetic"

[api]
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
port = 54323

# Email testing server. Emails sent with the local dev setup are not actually sent - rather, they
# are monitored, and you can view the emails that would have been sent from the web interface.
[inbucket]
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
file_size_limit = "5MB"

[auth]
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[auth.external.google]
enabled = true
client_id = "CHANGE_ME"
secret = "CHANGE_ME"
# redirect_uri = ""
# url = ""

[auth.external.facebook]
enabled = false
client_id = "CHANGE_ME"
secret = "CHANGE_ME"
# redirect_uri = ""
# url = ""

[auth.external.twitter]
enabled = false
client_id = "CHANGE_ME"
secret = "CHANGE_ME"
# redirect_uri = ""
# url = ""
